.complete-screen {
  background-color: #1E90FF;
}

.complete-header {
  height: 80px;
  background-color: #1E90FF;
  background: radial-gradient(#87cefa 25%, transparent 0),
                  radial-gradient(#87cefa 25%, transparent 0);
      background-size: 40px 40px;
      background-position: 0 0, 20px 20px
}
.complete-header-box {
  margin: 0 auto;
  &__icon {
    img {
      margin: 40px 0 0;
      width: 185px;
      height: 49px;
      line-height: 49px;
     }
  }
}

.complete {
  background-color: #1E90FF;
  background: radial-gradient(#87cefa 25%, transparent 0),
                  radial-gradient(#87cefa 25%, transparent 0);
      background-size: 40px 40px;
      background-position: 0 0, 20px 20px
}
.complete-box {
  background: #fff;
  width: 600px;
  margin: 0 auto;
  height: 400px;
}

.complete-main {
  &__header {
    color: #fff;
    background: #A4C6FF;
  }
  h2 {
    font-size: 22px;
    padding: 32px;
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
  }
  &__box {
    padding: 60px 16px 80px;
    border-top: 1px solid #f5f5f5;
  }
  &__form {
    max-width: 343px;
    margin: 0 auto;
    btn complete {
      margin: 5px 0 0 0;
      color: #fff;
      background-color: #ea352d;
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      text-align: center;
    }
  }
}

a.btn.complete {
  margin: 5px 0 0 0;
  color: #fff;
  background: #ea352d;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  text-align: center;
  text-decoration: none;
}
    
.footer-complete  {
  right: 0;
  left: 0;
  z-index: 1;
  height: 500px;
  padding: 40px 0;
  text-align: center;
  background-color: #1E90FF;
  width:100%;
    background: radial-gradient(#87cefa 25%, transparent 0),
                radial-gradient(#87cefa 25%, transparent 0);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px
}