* {
  box-sizing: border-box;
}

.registration-box {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  
}
.header-profile {
  height: 100px;
  background: #BAD3FF;
  text-align: center;
  display: block;
  box-sizing: border-box;
  font-size: 12px;
  color: #FFFFFF;
  font-weight: 600;
  h1 {
    margin: 40px 0 0;
    display: inline-block;
  }
}
.profile-main {
  width: 700px;
  margin: 0 auto;
}
.profile-container {
  font-size: 22px;
  padding: 32px;
  line-height: 1.5;
  text-align: center;
  h2 {
    font-weight: bold;
  }
}
.profile-text {
  width: 500px;
  margin: 0 auto;
  .bg{
    width:100%;
    background: radial-gradient(#87cefa 25%, transparent 0),
                radial-gradient(#87cefa 25%, transparent 0);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px
  }
  &__image {
    text-align: center;
  }
  label {
    color: #fff;
    font-weight: 600;
    display: inline-block;
    margin: 20px 0 0;
    font-size: 15px;
  }
  &__box {
    width: 400px;
    margin: 0 auto;
    margin: 25px auto 25px;
    padding: 0 0 40px;
    background: #1E90FF;
  }
  &__image {
    label {
      color: #fff;
      font-weight: 600;
      display: inline-block;
      margin: 20px 0 0;
      font-size: 15px;
    }
    label.image {
      display: none;
    }
  }
  &__contents {
  p {
    margin: 8px 0 0;
    line-height: 1.5;
    color: #888;
  }
  
  span {
    background: #0033FF;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 15px;
    margin: 40px 0 0;
   }
  }
}

textarea.profile {
  margin: 20px 0 0;
  width: 300px;
  height: 100px;
  bottom: 30px;
}

input.profile {
  margin: 40px 0 0 0;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  font-size: 14px;
}
input {
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}


.footer-profile-box  {
  right: 0;
  left: 0;
  z-index: 1;
  height: 250px;
  padding: 40px 0;
  text-align: center;
  background: #BAD3FF;
}
registration {
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}


