* {
  box-sizing: border-box;
}

.registration-box {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  
}
.header-mypage {
  height: 100px;
  background: #FFEEFF;
  text-align: center;
  display: block;
  box-sizing: border-box;
  font-size: 12px;
  color: #888;
  font-weight: 600;
  h1 {
    margin: 40px 0 0;
    display: inline-block;
  }
}
.mypage-main {
  width: 700px;
  margin: 0 auto;
}
.mypage-container {
  font-size: 22px;
  padding: 32px;
  line-height: 1.5;
  text-align: center;
  h2 {
    font-weight: bold;
  }
}
.mypage-text {
  
  &__box {
    max-width: 343px;
    margin: 0 auto;
  }
  &__contents {
    margin: 40px 0 0;
  p {
    margin: 8px 0 0;
    line-height: 1.5;
    color: #888;
  }
  label {
    font-weight: 600;
    display: inline-block;
  }
  span {
    background: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
   }
  }
}
input.mypage {
  margin: 40px 0 0 0;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  font-size: 14px;
}
input {
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}


.footer-mypage-box  {
  margin: 40px 0 0 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 250px;
  padding: 40px 0;
  text-align: center;
  background: #FFEEFF;
}
registration {
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}


