.contents-box
  .content-box
    .content
      .content__text
        %p タイトル
        %h2= book.title
      .content__text__informations
        .user
          %span 投稿者
        .user-name
          = book.user.nickname
        .data
          %td= link_to '詳細',book_path(book)
        
        
          
          
        