.complete-screen
  .complete-header
    .complete-header-box
    %h1.complete-header-box__icon
  
  .complete
    .complete-box
      .complete-main
        %section.complete-main__header
          %h2 登録完了画面
        .complete-main__box
          .complete-main__form
            = link_to "登録完了しました", root_path, class: 'btn complete'
  .footer-complete