* {
  box-sizing: border-box;
}

.main-screen {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  background: #FFFFDD
}

.header-box {
  height: 100px;
  padding: 35px 20px 35px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
  overflow: scroll
}

.header-box__text {
  padding-left: 70px;
  display: flex;
}

.header-box__text__list {
  position:fixed;
  right: 40px;
  display: flex;
}
p {
  float: left;
  font-size: 28px;
  
}

h2 {
  font-size: 18px;
  margin-right: 20px;
}

a {
  font-size: 18px;
  margin-right: 20px;
}

.left-box {
  float: left;
  margin-left: 30px;
  &__lists {
    i {
    position: absolute;
    top: 40%;
    right: 16px;
   }
  &__list {
    padding: 33px;
    font-size: 14px;
    color: #2d8fdd;
    border-left: solid 6px #2d8fdd;/*左側の線*/
    background: #f1f8ff;/*背景色*/
    margin-bottom: 3px;/*下のバーとの余白*/
    line-height: 1.5;
    list-style-type: none!important;/*ポチ消す*/
   }
  }
} 
 
.contents-box {
  width: calc(100vw - 300px);
  float: right;
  margin: 0 40px 0 0;
  margin-left: 50px;
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  border: dashed 2px #ffb03f;/*破線*/
  border-radius: 9px;
  margin-left: 10px;/*はみ出ないように調整*/
  margin-right: 10px;/*はみ出ないように調整*/
  padding: 0.5em 0.5em 0.5em 2em;
}

.content-box {
  display: block;
  padding: 16px;
  color: #333;
  &__fmarket_logo {
  position: relative;
  overflow: hidden;
  float: left;
  width: 33px;
  height: 35px;
  background: #f5f5f5;
  }
}

.content {
  &__text {
  line-height: 1.5;
  }
  &__time {
  display: inline-block;
  color: #888;
  }
  &__icon
    i {
    position: absolute;
    top: 50%;
    right: 16px;
    }
  }

  
